# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# Models
*.pt
*.pth
*.onnx
*.engine
*.weights

# =========================
# Datasets
# =========================
datasets/

# =========================
# Training Outputs
# =========================
runs/*
!runs/.gitkeep

# =========================
# Models Directory
# =========================
models/*
!models/.gitkeep

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log
chat.txt

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db